body
{
 background:#28BCFA;
}

#main
{
 height:750px;
 width:1000px;
 margin:auto;
 position:relative;
}

#text_1
{
 position:relative;
 top:150px;
 left:145px;
 width:720px;
 font-size:40px;
 font-weight:bold;
 font-family:arial;
}

#text_2
{
 position:absolute;
 top:150px;
 left:270px;
 width:460px;
 font-size:40px;
 font-weight:bold;
 font-family:arial;
 display:none;
}

.button_box_size
{
 position:absolute;
 width:150px;
 padding:25px;
}

.button_style
{
 width:150px;
 font-size:30px;
 font-weight:bold;
 font-family:arial;
 cursor:pointer;
 padding:10px 0px;
 -webkit-border-radius:8px;
 -moz-border-radius:8px;
 border-radius:8px;
}

#button_box_1
{
 top:220px;
 left:290px;
}

#button_box_2
{
 top:220px;
 left:495px;
}
